apiVersion: v1
kind: Service
metadata:
  name: mynodeapp-service
  labels:
    app: mynodeapp
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: mynodeapp
  sessionAffinity: None